.width-100{
    width: 100%;
}
.stroke-cls1{
    fill:"none";
    stroke:"#73AF55";
    stroke-width:"6"; 
    stroke-miterlimit:"10";
       
}
.stroke-cls2{
    fill:"none"; 
    stroke:"#73AF55"; 
    stroke-width:"6"; 
    stroke-linecap:"round"; 
    stroke-miterlimit:"10"; 
}
.cont-box-bg{
    background: url('');
}